.main {
    padding: 120px 0px;
    > :global(.container) {
        display: grid;
        grid-template-areas: "left right";
    }
    > :global(.container > .left) {
        grid-area: left;
        width: 536px;
        height: 536px;
        background: url("./assets/block-left-background.png");
        padding: 170px 31px;
    }
    > :global(.container > .left > .paragraph) {
        width: 360px;
    }
    > :global(.container > .right) {
        grid-area: right;
    }
}