.main {
    :global {
        .subtitle {
            font: normal 18px "Montserrat Bold";
            color: var(--color, #6c6c6c);
            letter-spacing: 0.1em;
            text-transform: uppercase;
        }
        .title {
            font-family: "Montserrat Thin";
            font-weight: normal;
            color: #212121;
            &.size-6 {
                font-size: 62px;
                text-transform: uppercase;
                line-height: 72px;
            }
        }
        .title-bold {
            font-family: "Montserrat Bold";
            font-weight: normal;
            color: #212121;
            &.size-1 {
                font-size: 22px;
                line-height: 29px;
            }
            &.size-2 {
                font-size: 36px;
                line-height: 1.2;
                margin-top: 10px;
            }
        }
        .paragraph {
            font-family: "Montserrat Light";
            color: #6c6c6c;
            width: 480px;
            font-size: 14px;
            line-height: 24px;
            margin: 10px 0px;
            &.size-2 {
                font-size: 22px;
            }
        }
        .button {
            display: inline-flex;
            padding: 16px 31px;
            border: none;
            background: white;
            box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
            font: normal 18px "Montserrat Bold";
            text-transform: uppercase;
            letter-spacing: 0.2em;
            border-radius: 27.2px;
            cursor: pointer;
            &.next {
                margin-top: 10px;
                &:after {
                    display: inline-flex;
                    width: 8px;
                    height: 12px;
                    margin-left: 19px;
                    content: url("./assets/button-next.png");
                }
            }
            &.next-background {
                display: inline-flex;
                width: 48px;
                height: 48px;
                padding: 0px;
                background-image: url("./assets/button-next-background.png");
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}