@keyframes show-search {
    to {
        width: 220px;
        opacity: 1;
    }
}

.main {
    display: flex;
    justify-content: center;
    padding: 56px 0px;
    padding-bottom: 28px;
    width: 100%;
    min-width: 1200px;
    z-index: 10;
    &:global(.free) {
        position: absolute;
    }
    > :global(.container) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1100px;
    }
    > :global(.container > .right) {
        display: flex;
        align-items: center;
    }
    :global {
        .logo {
            display: inline-flex;
            width: 185px;
            height: 22px;
            background: url("./assets/logo.png");
        }
        .nav {
            display: flex;
            > .link {
                display: inline-flex;
                align-items: center;
                font: normal 14px "Montserrat Light";
                padding: 8px 12px;
                text-decoration: none;
                color: #8c8c8c;
                letter-spacing: 0.1em;
                border-bottom: 3px solid rgba(0, 0, 0, 0.0);
                &.active {
                    font-family: "Montserrat Bold";
                    color: #212121;
                    border-bottom: 3px solid #331b1b;
                }
            }
        }
        .search {
            display: flex;
            align-items: center;
            margin-left: 12px;
            > .input {
                display: inline-flex;
                align-items: center;
                border-bottom: 2px solid #331b1b;
                padding: 8px;
                padding-right: 4px;
                font: normal 14px "Montserrat Light";
                width: 0px;
                opacity: 0;
                :local {
                    animation: show-search 0.5s ease;
                    animation-fill-mode: forwards;
                }
                &:before {
                    display: inline-flex;
                    width: 18px;
                    height: 18px;
                    background: url("./assets/search-input.png");
                    background-size: 16px;
                    background-repeat: no-repeat;
                    background-position: center;
                    margin-right: 4px;
                    content: "";
                }
                > .container {
                    display: inline-flex;
                    background: none;
                    border: none;
                    outline: none;
                    width: 100%;
                    &::placeholder {
                        color: #646464;
                    }
                    &::-webkit-search-cancel-button {
                        display: inline-flex;
                        width: 16px;
                        height: 16px;
                        background: url("./assets/search-input-clear.png");
                        background-size: 20px;
                        background-repeat: no-repeat;
                        background-position: center;
                        cursor: pointer;
                        appearance: none;
                    }
                }
            }
            > .button {
                display: inline-flex;
                background: url("./assets/search.png");
                margin-left: 12px;
                width: 23px;
                height: 23px;
                border: none;
                outline: none;
                cursor: pointer;
            }
            > .hidden {
                display: none;
            }
        }
    }
}