.main {
    background: #f7f7f7;
    padding-top: 120px;
    padding-bottom: 39px;
    > :global(.container) {
        width: 1100px;
        margin: auto;
    }
    > :global(.container > .bottom) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 59px;
        font: normal 12px "Montserrat Bold"; 
        letter-spacing: 0.05em;
        color: #6c6c6c;
        text-transform: uppercase;
    }
    :global {
        .columns {
            display: flex;
            justify-content: space-between;
        }
        .column {
            flex-shrink: 0;
            > .title {
                font: normal 18px "Montserrat Bold";
                text-transform: uppercase;
                color: #6c6c6c;
                letter-spacing: 0.1em;
                line-height: 24px;
            }
            > .content {
                .paragraph {
                    font: normal 14px "Montserrat Light";
                    line-height: 22px;
                }
                .link {
                    font: normal 14px "Montserrat Bold";
                    text-transform: uppercase;
                    text-decoration: none;
                    letter-spacing: 0.05em;
                    color: #212121;
                    line-height: 26px;
                }
                .input {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 370px;
                    height: 48px;
                    border: 1px solid #d9dee1;
                    overflow: hidden;
                    background: white;
                    padding-left: 19px;
                    padding-right: 14px;
                    font: normal 14px "Montserrat Light";
                    margin-top: 20px; 
                    > .container {
                        width: 100%;
                        height: inherit;
                        border: none;
                        outline: none;
                        background: none;
                        &::placeholder {
                            color: #6c6c6c;
                        }
                    }
                    > .send {
                        display: inline-flex;
                        background: url("./Top/assets/input-send.png");
                        background-repeat: no-repeat;
                        background-position: center;
                        border: none;
                        outline: none;
                        width: 22px;
                        height: 22px;
                        cursor: pointer;
                    }
                }
            }
            &.contact-us {
                width: 230px;
            }
            &.useful-info {
                width: 400px;
                > .content {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 12px;
                    > .side {
                        display: inline-flex;
                        flex-direction: column;
                    }
                }
            }
            &.touch {
                width: 370px;
            }
        }
        .social {
            display: flex;
            gap: 6px;
            > .link {
                display: inline-flex;
                width: 28px;
                height: 28px;
                background-size: 26px;
                background-position: center;
                background-repeat: no-repeat;
                &.facebook {
                    background-image: url("./Bottom/assets/social-facebook.png");
                }
                &.twitter {
                    background-image: url("./Bottom/assets/social-twitter.png");
                }
                &.google-plus {
                    background-image: url("./Bottom/assets/social-google-plus.png");
                }
                &.pinterest {
                    background-image: url("./Bottom/assets/social-pinterest.png");
                }
            }
        }
    }
}