.main {
    padding: 120px 0px;
    > :global(.container) {
        width: 1100px;
        margin: auto;
    }
    > :global(.container > .top) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    :global {
        .explore-all {
            border: none;
            background: none;
            font: normal 18px "Montserrat Bold";
            text-transform: uppercase;
            color: #212121;
            letter-spacing: 0.2em;
            cursor: pointer;
            &:after {
                width: 8px;
                height: 12px;
                margin-left: 12px;
                content: url("./assets/explore-all.png");
                opacity: 0;
            }
            &:hover {
                &:after {
                    opacity: 1;
                }
            }
        }
        .list {
            $image-size: 260px;
            display: grid;
            justify-content: space-between;
            grid-template-columns: repeat(4, $image-size);
            padding-top: 50px;
            > .item {
                cursor: pointer;
                &:hover {
                    > .hover {
                        display: flex;
                    }
                }
                > .hover {
                    display: none;
                    position: absolute;
                    width: $image-size;
                    flex-direction: column;
                    overflow: hidden;
                    align-items: center;
                    padding-top: 62px;
                    > .title {
                        font: normal 22px "Montserrat Bold";
                    }
                }
                > .image {
                    width: $image-size;
                    height: $image-size;
                }
            }
        }
    }
}